<div class="container">
  <div class="card">
    <h1 class="title ">Ajouter une tâche</h1>
    <div class="card-body">

      <!-- Formulaire pour ajouter une tâche -->
      <form id="todo-form" (ngSubmit)="createTask()">
        <label>Titre</label>
        <div class="input-group mb-3">
          <input type="text" class="todo-input form-control" id="newTaskTitle" placeholder="Nom de la tâche" #newTaskTitle required />
        </div>
        <label>Description</label>
        <div class="input-group mb-3">
          <input type="text" class="todo-input form-control" id="newTaskDescription" placeholder="Description de la tâche" #newTaskDescription required />
        </div>
        <label>Statut</label>
        <div class="input-group mb-3">
          <select class="form-control" id="newTaskStatus" #newTaskStatus required>
            <option value="A faire">A faire</option>
            <option value="En cours">En cours</option>
            <option value="Terminé">Terminé</option>
          </select>
        </div>
        <button class="add-btn btn btn-primary" type="submit">Ajouter</button>

        <!-- Div qui affiche un message d'erreur si les champs sont pas tous remplis -->
        <div *ngIf="showError" class="alert alert-danger mt-3" role="alert">
          Veuillez remplir tous les champs.
        </div>
      </form>
    </div>
  </div>

  <!-- Trois colonnes par statut (A faire, En cours, Terminé -->

  <!-- Tâches avec le status A faire -->
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card custom-gray-bg">
        <div class="card-body">
          <h3>A faire</h3>
          <ul class="list-group">
            <li *ngFor="let task of tasks" class="list-group-item" [hidden]="task.status !== 'A faire'">
              <div class="task-card d-flex justify-content-between">
                <div>
                  <h5>{{ task.title }}</h5>
                  <hr class="my-2">
                  <p>{{ task.description }}</p>
                </div>

                <div class="d-flex flex-column justify-content-end" style="height: 100%; margin-top: auto;">
                  <!-- Bouton supprimer -->
                  <button (click)="deleteTask(task.id)" class="btn btn-danger btn-sm mb-2">
                    <i class="bi bi-trash fs-6"></i>
                  </button>

                  <!-- Bouton de modification -->
                  <button (click)="editTask(task)" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil fs-6"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Tâches avec le status En cours -->
    <div class="col-md-4">
      <div class="card custom-yellow-bg">
        <div class="card-body">
          <h3>En cours</h3>
          <ul class="list-group">
            <li *ngFor="let task of tasks" class="list-group-item" [hidden]="task.status !== 'En cours'">
              <div class="task-card d-flex justify-content-between">
                <div>
                  <h5>{{ task.title }}</h5>
                  <hr class="my-2">
                  <p>{{ task.description }}</p>
                </div>

                <div class="d-flex flex-column justify-content-end" style="height: 100%; margin-top: auto;">
                  <!-- Bouton supprimer -->
                  <button (click)="deleteTask(task.id)" class="btn btn-danger btn-sm mb-2">
                    <i class="bi bi-trash fs-6"></i>
                  </button>

                  <!-- Bouton de modification -->
                  <button (click)="editTask(task)" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil fs-6"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Tâches avec le status Terminé -->
    <div class="col-md-4">
      <div class="card custom-green-bg">
        <div class="card-body">
          <h3>Terminé</h3>
          <ul class="list-group">
            <li *ngFor="let archivedTask of archivedTasks" class="list-group-item" [hidden]="archivedTask.status !== 'Terminé'">
              <div class="task-card d-flex justify-content-between">
                <div>
                  <h4 class="mb-2">{{ archivedTask.title }}</h4>
                  <hr class="my-2">
                  <p class="mb-2">{{ archivedTask.description }}</p>
                  <hr class="my-2">
                  <p>{{ archivedTask.archivedDate }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal pour modifier la tâche -->
<div *ngIf="showModal" class="modal-overlay overlay">
  <div class="modal-content card">
    <div class="modal-header">
      <h5>Modifier la tâche</h5>
      <button type="button" (click)="closeModal()">X</button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="saveTask()">
        <div>
          <label>Titre</label>
          <input id="editTitle" name="title" required value="{{ taskToEditTitle }}"/>
        </div>
        <div>
          <label>Description</label>
          <textarea id="editDescription" name="description" required>{{ taskToEditDescription }}</textarea>
        </div>
        <div>
          <label>Statut</label>
          <select id="editStatus" name="status" value="{{ taskToEditStatus }}" required>
            <option value="A faire">A faire</option>
            <option value="En cours">En cours</option>
            <option value="Terminé">Terminé</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeModal()">Annuler</button>
          <button type="submit">Sauvegarder</button>
          <!-- Div qui affiche un message d'erreur si les champs sont pas tous remplis -->
          <div *ngIf="showErrorEdit" class="alert alert-danger mt-3" role="alert">
            Veuillez remplir tous les champs.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
